@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');


// The reason I used `padding` instead of `border` is because `absolute`-positioned elements, when set to 100% top/bottom, are placed above/below the `relative`-positioned ancestor's CONTENT-BOX instead of BORDER-BOX.
// So the added size of the `border` property will not affect the positioning of the `absolute` element whereas, per the site's design, we want it to be affected.
// Now, these can have its drawbacks in other designs but as far as THIS DOCUMENT specifically, there isn't, so I chose to keep the `bg-color, padding` rules for inner borders for consistency as this problem is only for the outer border specifically.
@mixin outerBorder($color){
    background-color: $color;
    padding:.3rem;
}

@mixin innerBorder($color){
    background-color: $color;
    padding:.7rem;
}

@mixin dashedBorder($color){
    border: .3rem dashed $color;
}

@mixin polygonImageSize{
    max-width: 5rem;
}

@mixin shadowTemplate{
    // x-offset, y-offset, blur, spread, color, opacity
    box-shadow: 0 22px 23px 0px rgba(0,0,0,.25);
}

@mixin oval-shape($size){
    // standard w/h: 800px 45/15rem, 480~800px: 30/13rem?
    @if $size == "small"{
        // TO DO 
    }

    @else if $size == "medium"{
        width: 25rem;
        height: 12rem;
    }

    @else if $size == "large"{
        width: 45rem;
        height: 15rem;
    }

    @else {
        @warn "Unknown size input: #{$size}. Only 'small', 'medium', and 'large' allowed."
    }

    border-radius: 50%;
}


@mixin squareBorderRadius($size){
    @if $size == "small"{
        border-radius: 5rem;
    }

    @else if $size == "medium"{
        border-radius: 4rem;
    }

    @else if $size == "large"{
        border-radius: 3rem;
    }

    @else {
        @warn "Unknown size input: #{$size}. Only 'small', 'medium', and 'large' allowed."
    }


}

@mixin circleBorderRadius{
    border-radius: 50%;
}

* {
    margin: 0;
    box-sizing: border-box;
}

img{
    display:block;
}

.overlay{
    display:flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top:0;

    width:100%;
    height: 100%;
    
    background-color: rgba(0,0,0,.75);
    color: #fff;

    border-radius: inherit;
    
    opacity: 0;
    transition: opacity .5s ease;
}  

.overlay:hover{
    opacity: 1;
}

.header-one{
    font-weight: 300;
    font-size: clamp(3rem,4vw,4rem);
}

.header-two{
    font-weight: 300;
    font-size: clamp(2rem,2.5vw,2.5rem);
}

html{

    font-family: 'Kosugi Maru', sans-serif;
    scroll-behavior: smooth;

    >body{
       
        display: flex;
        flex-direction: column;

        background-image: url("img/paper-background.png");
        background-size: cover;

    }   
 }


@media (min-width:801px) {
    .section-one{
           
        >.nav{
            position: relative;
            background-color: #662C00;

            >ul{
                display: flex;

                padding-inline-start: 0;

                list-style-type: none;

                >*{
                    padding: 2rem;

                    color: white;

                    text-decoration: none;

                    transition: background-color .2s ease-in;

                    >li{
                        font-size: 1.2rem;
                    }
                }

                >a:hover{
                    background-color: #754119;
                }

                >#contact-us-link{
                    margin-left: auto;
                }

                >.menu{
                    display: none;
                    
                    cursor: pointer;
                }

            }

            >.logo{
                position: absolute;
                top: 0;
                left: 50%;
             
                >img{
                    position: absolute;
                    
                    transform: translateX(-50%);
                    
                    max-width: 32rem;
                }
                

            }         
        }

        >.content{
            display: flex;
            justify-content: center;
            align-items: center;

            padding: 2rem 0;

            >.sushi{
                position: relative;
                
                margin:3rem 1rem 1rem 1rem;
                >#pin{
                    position:absolute;
                    bottom:95%;
                    left:30%;

                    z-index: 1;
                }
                >#sushi-img{
                    max-width: 100%;
                }

                >.revealhoriz{
                    position: relative;
                    /* lifts up the cards */
                    transform: translateX(-180px);
                    opacity: 0;
                    transition: all 2s ease;
                }
                .revealhoriz.show{
                    transform: translateY(0px);
                    opacity: 1;
                }
            }
            
            >.text{
                flex:1;
                margin: 15rem 0 10rem 0;
                text-align: center;

                flex-shrink: 2;
                >#from-kitch{
                    font-family: 'Lexend Exa', sans-serif;
                    font-size: clamp(1.5rem, 3.5vw, 3.5rem);
                    color: white;
                }
                
                >#to-yours{
                    font-family: 'Lemon', sans-serif;
                    font-size: clamp(1.5rem, 3.5vw, 3.5rem);
                    color: #662C00;
                }

                >.revealvert{
                    position: relative;
                    transform: translateY(-180px);
                    opacity: 0;
                    transition: all 2s ease;
                }
                /* activates the javascript code */
                .revealvert.show{
                    transform: translateY(0px);
                    opacity: 1;
                }
            }
 
            >.sapin{
                position: relative;

                margin:3rem 1rem 1rem 1rem;
                >#pin{
                    position:absolute;
                    bottom:95%;
                    left:50%;

                    z-index: 1;
                }

                >#sapin-sapin-img{
                    max-width: 100%;
                }

                >.revealhoriz{
                    position: relative;
                    /* lifts up the cards */
                    transform: translateX(-180px);
                    opacity: 0;
                    transition: all 2s ease;
                }
                .revealhoriz.show{
                    transform: translateY(0px);
                    opacity: 1;
                }    
            }

            >.sushi img, >.sapin img{
                max-width: 20rem;
            }
        }
    }

    .section-two{
        @include outerBorder(#FA9A68);

        position:relative;
        
        >#polygon-up{
            position:absolute;
            bottom:100%;
            left:50%;
            transform: translateX(-50%);

            >img{
                @include polygonImageSize();
            }
        }

        >.container{
            @include shadowTemplate();
            @include innerBorder(#662C00);

            position: relative;
            
            display:flex;
         
            z-index: 1;

            >.content{
                @include dashedBorder(#FA9A68);

                flex:1;
                display:flex;

                // top, left, bottom, right
                padding: 5rem;
                
                background-color: #F3E9D2;
                justify-content: space-between;

                >.text{
                  
                    >.paragraph{
                        margin-top: 1.5rem;
                        max-width: 35rem;
                        font-size: clamp(1.5rem,2.5vw,2.5rem);
                    }
                }

                >.image{
                    

                    >img{
                       max-width:45vw;
                    }
                }
            }
        }

        >#polygon-down{
            position:absolute;
            top:100%;
            left:50%;

            transform: translateX(-50%);
            >img{
                @include polygonImageSize();
            }
        }
    }

    .section-three{
        @include outerBorder(#D37C4D);
        @include squareBorderRadius("large");

        position: relative;
        
        margin: 20rem 0 5rem 0;
        
        >.oval-design{
            position:absolute;
            top:0;
            left:50%;

            >.oval-one{
                @include oval-shape("large");
                
                position: absolute;
                top:-7rem;

                transform: translateX(-50%);
                
                background-color: #C57243;
            }

            >.oval-two{
                @include oval-shape("large");

                position: absolute;
                top:-6rem;

                transform: translateX(-50%);
                
                background-color: #662C00;
            }
        }

        >.container{
            @include innerBorder(#662C00);
            @include squareBorderRadius("large");

            >.content{
                @include dashedBorder(#D37C4D);
                @include squareBorderRadius("large");

                display:flex;
                flex-direction: column;
                justify-content: center;

                background-color: #F3E9D2;

                padding: 3rem;
              
                font-family: "Lexend Exa", sans-serif;
                >.the-favorites{
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    margin-top: 10rem;

                    text-align: center;
                    
                    >.dishes{
                        display: flex;

                        margin-top: 3rem;

                        >.dish-left{
                            display: flex;
                            justify-content: center;
                            >.cajun-seafood{
                                @include outerBorder(#662C00);
                                @include squareBorderRadius("large"); 

                          
                                .wrapper{
                                    position: relative;

                                    border-radius: inherit;
                                    >picture{
                                        border-radius: inherit;
                                        >img{
                                        
                                            max-width: 100%;

                                            border-radius: inherit;

                                            aspect-ratio: 1 / 1; 
                                        }
                                    }
                                }
                                

                               
                            }
                        }

                        >.dish-right{
                            display:flex;
                            flex-direction: column;
                            justify-content: space-between;

                            >.lasagna, >.macaroni-salad{
                                @include outerBorder(#662C00);
                                @include squareBorderRadius("large");
                               
                                margin: 0rem 1rem;
                                >.wrapper{
                                    position:relative;

                                    border-radius: inherit;

                                    >img{   
                                        max-width: 100%;

                                        border-radius: inherit;
                                        
                                        aspect-ratio: 1 / 1;
                                    }

                                }
                                        
                            }
                        }
                    }
                }

                >.baked-goods{
                    margin-top: 8rem;
               
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    text-align: center;
                    >.dishes{
                        display:flex;

                        margin-top:3rem;

                        >.dish-left{
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;

                            >.chocolate-chip-muffin, >.vanilla-muffin{
                                @include outerBorder(#D37C4D);
                              
                                @include circleBorderRadius();

                                flex: 1;

                                position: relative;         

                                margin: 1rem 0rem;
                                
                                >.wrapper{
                                    position:relative;

                                    border-radius: inherit;

                                    >img{
                                        max-width: 100%;

                                        border-radius: inherit;

                                        aspect-ratio: 1 / 1;
                                    }
                                }
                            } 
                        }

                        >.dish-right{
                            // for large screens
                                display:flex;
                                align-items: center;
                                justify-content: center;
                            //
                            >.strawberry-cheesecake{
                                @include outerBorder(#D37C4D);
                                @include circleBorderRadius();
                                >.wrapper{
                                    position:relative;

                                    border-radius: inherit;

                                    >img{
                                        max-width: 100%;

                                        border-radius: inherit;

                                        aspect-ratio: 1 / 1;
                                    }
                                }
                            }
                        }

                 

                    }
                }

                >.full-menu{
                    @include shadowTemplate();
                    @include squareBorderRadius("large");

                    align-self: center;

                    margin: 10rem 0 5rem 0;
                    padding: 1.5rem;
                    
                    background-color: #C38134;
                    
                    cursor: pointer;

                    >.content{
                        display:flex;
                        flex-direction: column;
                        
                        align-items: center;

                        padding: 1rem 2rem;

                        border-radius: 2rem;
                        background-color: #C98B42;
                        
                        color: #fff;

                        >p{
                            padding: .7rem 0;
                        }
                    }
                }
            }
        }
    }

    .section-four{
        
        align-self: center;
        
        >.socials{

            display:flex;
            justify-content: space-between;

            >img{
                max-width: 20%;
            }
        }     
    }
}

@media (min-width:481px) and (max-width:800px) {
    .section-one{
           
        >.nav{
            position: relative;
            background-color: #662C00;

            >ul{
                display: flex;

                padding-inline-start: 0;

                list-style-type: none;

                >*{
                    padding: 2rem;

                    color: white;

                    text-decoration: none;

                    transition: background-color .2s ease-in;

                    >li{
                        font-size: 1.2rem;
                    }
                }

                >a:hover{
                    background-color: #754119;
                }

                >#contact-us-link{
                    margin-left: auto;
                }

                >a{
                    display: none;
                }
                >.menu{
                    display: block;
                    
                    cursor: pointer;
                }

            }

            >.logo{
                position: absolute;
                top: 0;
                left: 50%;
             
                >img{
                    position: absolute;
                    
                    transform: translateX(-50%);
                    
                    max-width: 30rem;
                }
                

            }         
        }

        >.content{
            display: flex;
            justify-content: center;
            align-items: center;

            padding: 2rem 0;

            >.sushi{
                position: relative;
                
                flex-basis: 30%;
                
                margin:1rem;
                >#pin{
                    display: none;

                    position:absolute;
                    bottom:95%;
                    left:30%;

                    z-index: 1;
                }
                >#sushi-img{
                    max-width: 100%;
                }

                >.revealhoriz{
                    position: relative;
                    /* lifts up the cards */
                    transform: translateX(-180px);
                    opacity: 0;
                    transition: all 2s ease;
                }
                .revealhoriz.show{
                    transform: translateY(0px);
                    opacity: 1;
                }
            }
            
            >.text{
                flex:1;
                margin: 15rem 0 10rem 0;
                text-align: center;

                flex-shrink: 2;
                >#from-kitch{
                    font-family: 'Lexend Exa', sans-serif;
                    font-size: clamp(1.5rem, 3.5vw, 3.5rem);
                    color: white;
                }
                
                >#to-yours{
                    font-family: 'Lemon', sans-serif;
                    font-size: clamp(1.5rem, 3.5vw, 3.5rem);
                    color: #662C00;
                }

                >.revealvert{
                    position: relative;
                    transform: translateY(-180px);
                    opacity: 0;
                    transition: all 2s ease;
                }
                /* activates the javascript code */
                .revealvert.show{
                    transform: translateY(0px);
                    opacity: 1;
                }
            }
 
            >.sapin{
                position: relative;

                flex-basis: 30%;

                margin:1rem;
                >#pin{
                    display: none;

                    position:absolute;
                    bottom:95%;
                    left:50%;

                    z-index: 1;
                }

                >#sapin-sapin-img{
                    max-width: 100%;
                }

                >.revealhoriz{
                    position: relative;
                    /* lifts up the cards */
                    transform: translateX(-180px);
                    opacity: 0;
                    transition: all 2s ease;
                }
                .revealhoriz.show{
                    transform: translateY(0px);
                    opacity: 1;
                }    
            }

            >.sushi img, >.sapin img{
                max-width: 20rem;
            }
        }
    }

    .section-two{
      
        @include outerBorder(#FA9A68);

        position:relative;
        
        >#polygon-up{
            position:absolute;
            bottom:100%;
            left:50%;
            transform: translateX(-50%);

            >img{
                @include polygonImageSize();
            }
        }

        >.container{
            @include shadowTemplate();
            @include innerBorder(#662C00);

            position: relative;
            
            display:flex;
         
            z-index: 1;

            >.content{
                @include dashedBorder(#FA9A68);

                flex:1;
                display:flex;

                // top, left, bottom, right
                padding: 4rem 2.5rem;
                
                background-color: #F3E9D2;
                justify-content: space-between;

                >.text{
                    max-width: 50%;
                    >.header-one{
                        font-size: 2rem;
                    }
                  
                    >.paragraph{
                        margin-top: 1.5rem;
                        font-size: 1.2rem;
                    }
                }

                >.image{
                    display: flex;
                    align-items: center;
                    >img{
                        max-width: 100%;
                        
                        aspect-ratio: 1 / 1;
                    }
                }
            }
        }

        >#polygon-down{
            position:absolute;
            top:100%;
            left:50%;

            transform: translateX(-50%);

            >img{
                @include polygonImageSize();
            }
        }
    }

    .section-three{
     
        @include outerBorder(#D37C4D);
        @include squareBorderRadius("medium");

        position: relative;
        
        margin: 15rem 0 5rem 0;
        
        >.oval-design{
            position:absolute;
            top:0;
            left:50%;

            >.oval-one{
                @include oval-shape("medium");
                
                position: absolute;
                top:-5rem;

                transform: translateX(-50%);
                
                background-color: #C57243;
            }

            >.oval-two{
                @include oval-shape("medium");

                position: absolute;
                top:-4rem;

                transform: translateX(-50%);
                
                background-color: #662C00;
            }
        }

        >.container{
            @include innerBorder(#662C00);
            @include squareBorderRadius("medium");

            >.content{
                @include dashedBorder(#D37C4D);
                @include squareBorderRadius("medium");

                display:flex;
                flex-direction: column;
                justify-content: center;

                background-color: #F3E9D2;

                padding: 3rem;
              
                font-family: "Lexend Exa", sans-serif;
     
                >.the-favorites{
                
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    margin-top: 10rem;

                    text-align: center;
                    >.dishes{
                        display: flex;
                        flex-direction: column;

                        margin-top: 3rem;

                        >.dish-left{
                            display: flex;
                            justify-content: center;
                            >.cajun-seafood{
                                @include outerBorder(#662C00);
                                @include squareBorderRadius("medium");
                                .wrapper{

                                    position: relative;

                                    border-radius: inherit;
                                    >picture{
                                        border-radius: inherit;
                                        >img{
                                 
                                            // exclusive to "medium" screens
                                            aspect-ratio: 16 / 9;
                                            //

                                            border-radius: inherit;

                                            max-width: 100%;
                                        }
                                    }
                                }
                                

                               
                            }
                        }

                        >.dish-right{
                            display:flex;
                            justify-content: space-between;
                            
                            >.lasagna, >.macaroni-salad{
                                @include outerBorder(#662C00);
                                @include squareBorderRadius("medium");
                               
                                margin: 1rem .5rem;

                                >.wrapper{
                                    position:relative;

                                    border-radius: inherit;

                                    >img{   
                                        max-width: 100%;

                                        border-radius: inherit;
                                        
                                        aspect-ratio: 1 / 1;
                                    }

                                }
                                        
                            }
                        }

                       
                
                        

                    }
                }

                >.baked-goods{
                    margin-top: 8rem;
               
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    text-align: center;
                    >.dishes{
                        display:flex;
                        flex-direction: column;

                        margin-top:3rem;

                        >.dish-left{
                            display: flex;
                            >.chocolate-chip-muffin, >.vanilla-muffin{
                                @include outerBorder(#D37C4D);
                              
                                @include circleBorderRadius();

                                flex: 1;

                                position: relative;         

                                margin: 1rem .5rem;
                                
                                >.wrapper{
                                    position:relative;

                                    border-radius: inherit;

                                    >img{
                                        max-width: 100%;

                                        border-radius: inherit;

                                        aspect-ratio: 1 / 1;
                                    }
                                }
                            } 
                        }

                        >.dish-right{
                            display: flex;
                            justify-content: center;
                            >.strawberry-cheesecake{
                                @include outerBorder(#D37C4D);
                                @include circleBorderRadius();

                                max-width: 30rem;
                                >.wrapper{
                                    position:relative;

                                    border-radius: inherit;

                                    >img{
                                        max-width: 100%;

                                        border-radius: inherit;

                                        aspect-ratio: 1 / 1;
                                    }
                                }
                            }
                        }

                 

                    }
                }

                >.full-menu{
                    display:none;
                    @include shadowTemplate();
                    @include squareBorderRadius("medium");

                    align-self: center;

                    margin: 10rem 0 5rem 0;
                    padding: 1.5rem;
                    
                    background-color: #C38134;
                    
                    cursor: pointer;

                    >.content{
                        display:flex;
                        flex-direction: column;
                        
                        align-items: center;

                        padding: 1rem 2rem;

                        border-radius: 2rem;
                        background-color: #C98B42;
                        
                        color: #fff;

                        >p{
                            padding: .7rem 0;
                        }
                    }
                }
            }
        }
    }

    .section-four{
        
        align-self: center;

       
        
        >.contact-us{
            display: none;
            @include outerBorder(#D37C4D); 
        
            >.container{
                @include innerBorder(#662C00);

                >.content{
                    @include dashedBorder(#D37C4D);
                    
                    display: flex;
                    flex-direction: column;
                    
                    padding: 5rem 10rem;

                    background-color: #F3E9D2;
                    font-family: "Lexend Exa", sans-serif;

                    >.header-one{
                        align-self: center;
                    }

                    >.header-two{
                        margin-top: 2rem;
                    }

                    input, textarea{
                        margin-top:1rem;
                        font-size: 1.5rem;
                    }
                }   
            }
        }

        >.socials{

            display:flex;
            justify-content: space-between;

            >img{
                max-width: 20%;
            }
        }     
    }
    
}


// TO DO
@media (max-width:481px) {
    // Copy-paste all sections in the SCSS written for 481-800px. Use the code from there.
}
