@import url("https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Exa&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lemon&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
}

img {
  display: block;
}

.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  border-radius: inherit;
  font-size: clamp(1.5rem, 2.5vw, 2rem);
  opacity: 0;
  transition: opacity 0.5s ease;
}

.overlay:hover {
  opacity: 1;
}

.header-one {
  font-weight: 300;
  font-size: clamp(3rem, 4vw, 4rem);
}

.header-two {
  font-weight: 300;
  font-size: clamp(2rem, 2.5vw, 2.5rem);
}

html {
  font-family: "Kosugi Maru", sans-serif;
  scroll-behavior: smooth;
}
html > body {
  display: flex;
  flex-direction: column;
  background-image: url("img/paper-background.png");
  background-size: cover;
}

@media (min-width: 801px) {
  .section-one > .nav {
    position: relative;
    background-color: #662C00;
  }
  .section-one > .nav > ul {
    display: flex;
    padding-inline-start: 0;
    list-style-type: none;
  }
  .section-one > .nav > ul > * {
    padding: 2rem;
    color: white;
    text-decoration: none;
    transition: background-color 0.2s ease-in;
  }
  .section-one > .nav > ul > * > li {
    font-size: 1.2rem;
  }
  .section-one > .nav > ul > a:hover {
    background-color: #754119;
  }
  .section-one > .nav > ul > #contact-us-link {
    margin-left: auto;
  }
  .section-one > .nav > ul > .menu {
    display: none;
    cursor: pointer;
  }
  .section-one > .nav > .logo {
    position: absolute;
    top: 0;
    left: 50%;
  }
  .section-one > .nav > .logo > img {
    position: absolute;
    transform: translateX(-50%);
    max-width: 32rem;
  }
  .section-one > .content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
  }
  .section-one > .content > .sushi {
    position: relative;
    margin: 3rem 1rem 1rem 1rem;
  }
  .section-one > .content > .sushi > #pin {
    position: absolute;
    bottom: 95%;
    left: 30%;
    z-index: 1;
  }
  .section-one > .content > .sushi > #sushi-img {
    max-width: 100%;
  }
  .section-one > .content > .sushi > .revealhoriz {
    position: relative;
    /* lifts up the cards */
    transform: translateX(-180px);
    opacity: 0;
    transition: all 2s ease;
  }
  .section-one > .content > .sushi .revealhoriz.show {
    transform: translateY(0px);
    opacity: 1;
  }
  .section-one > .content > .text {
    flex: 1;
    margin: 15rem 0 10rem 0;
    text-align: center;
    /* activates the javascript code */
  }
  .section-one > .content > .text > #from-kitch {
    font-family: "Lexend Exa", sans-serif;
    font-size: clamp(1.5rem, 3.5vw, 3.5rem);
    color: white;
  }
  .section-one > .content > .text > #to-yours {
    font-family: "Lemon", sans-serif;
    font-size: clamp(1.5rem, 3.5vw, 3.5rem);
    color: #662C00;
  }
  .section-one > .content > .text > .revealvert {
    position: relative;
    transform: translateY(-180px);
    opacity: 0;
    transition: all 2s ease;
  }
  .section-one > .content > .text .revealvert.show {
    transform: translateY(0px);
    opacity: 1;
  }
  .section-one > .content > .sapin {
    position: relative;
    margin: 3rem 1rem 1rem 1rem;
  }
  .section-one > .content > .sapin > #pin {
    position: absolute;
    bottom: 95%;
    left: 50%;
    z-index: 1;
  }
  .section-one > .content > .sapin > #sapin-sapin-img {
    max-width: 100%;
  }
  .section-one > .content > .sapin > .revealhoriz {
    position: relative;
    /* lifts up the cards */
    transform: translateX(-180px);
    opacity: 0;
    transition: all 2s ease;
  }
  .section-one > .content > .sapin .revealhoriz.show {
    transform: translateY(0px);
    opacity: 1;
  }
  .section-one > .content > .sushi img, .section-one > .content > .sapin img {
    max-width: 20rem;
  }
  .section-two {
    background-color: #FA9A68;
    padding: 0.3rem;
    position: relative;
  }
  .section-two > #polygon-up {
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
  }
  .section-two > #polygon-up > img {
    max-width: 5rem;
  }
  .section-two > .container {
    box-shadow: 0 22px 23px 0px rgba(0, 0, 0, 0.25);
    background-color: #662C00;
    padding: 0.7rem;
    position: relative;
    display: flex;
    z-index: 1;
  }
  .section-two > .container > .content {
    border: 0.3rem dashed #FA9A68;
    flex: 1;
    display: flex;
    padding: 5rem;
    background-color: #F3E9D2;
    justify-content: space-between;
  }
  .section-two > .container > .content > .text > .paragraph {
    margin-top: 1.5rem;
    max-width: 35rem;
    font-size: clamp(1.5rem, 2.5vw, 2.5rem);
  }
  .section-two > .container > .content > .image > img {
    max-width: 45vw;
  }
  .section-two > #polygon-down {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
  }
  .section-two > #polygon-down > img {
    max-width: 5rem;
  }
  .section-three {
    background-color: #D37C4D;
    padding: 0.3rem;
    border-radius: 3rem;
    position: relative;
    margin: 20rem 0 5rem 0;
  }
  .section-three > .oval-design {
    position: absolute;
    top: 0;
    left: 50%;
  }
  .section-three > .oval-design > .oval-one {
    width: 45rem;
    height: 15rem;
    border-radius: 50%;
    position: absolute;
    top: -7rem;
    transform: translateX(-50%);
    background-color: #C57243;
  }
  .section-three > .oval-design > .oval-two {
    width: 45rem;
    height: 15rem;
    border-radius: 50%;
    position: absolute;
    top: -6rem;
    transform: translateX(-50%);
    background-color: #662C00;
  }
  .section-three > .container {
    background-color: #662C00;
    padding: 0.7rem;
    border-radius: 3rem;
  }
  .section-three > .container > .content {
    border: 0.3rem dashed #D37C4D;
    border-radius: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #F3E9D2;
    padding: 3rem;
    font-family: "Lexend Exa", sans-serif;
  }
  .section-three > .container > .content > .the-favorites {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10rem;
    text-align: center;
  }
  .section-three > .container > .content > .the-favorites > .dishes {
    display: flex;
    margin-top: 3rem;
  }
  .section-three > .container > .content > .the-favorites > .dishes > .dish-left {
    display: flex;
    justify-content: center;
  }
  .section-three > .container > .content > .the-favorites > .dishes > .dish-left > .cajun-seafood {
    background-color: #662C00;
    padding: 0.3rem;
    border-radius: 3rem;
  }
  .section-three > .container > .content > .the-favorites > .dishes > .dish-left > .cajun-seafood .wrapper {
    position: relative;
    border-radius: inherit;
  }
  .section-three > .container > .content > .the-favorites > .dishes > .dish-left > .cajun-seafood .wrapper > picture {
    border-radius: inherit;
  }
  .section-three > .container > .content > .the-favorites > .dishes > .dish-left > .cajun-seafood .wrapper > picture > img {
    max-width: 100%;
    border-radius: inherit;
    aspect-ratio: 1/1;
  }
  .section-three > .container > .content > .the-favorites > .dishes > .dish-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .section-three > .container > .content > .the-favorites > .dishes > .dish-right > .lasagna, .section-three > .container > .content > .the-favorites > .dishes > .dish-right > .macaroni-salad {
    background-color: #662C00;
    padding: 0.3rem;
    border-radius: 3rem;
    margin: 0rem 1rem;
  }
  .section-three > .container > .content > .the-favorites > .dishes > .dish-right > .lasagna > .wrapper, .section-three > .container > .content > .the-favorites > .dishes > .dish-right > .macaroni-salad > .wrapper {
    position: relative;
    border-radius: inherit;
  }
  .section-three > .container > .content > .the-favorites > .dishes > .dish-right > .lasagna > .wrapper > img, .section-three > .container > .content > .the-favorites > .dishes > .dish-right > .macaroni-salad > .wrapper > img {
    max-width: 100%;
    border-radius: inherit;
    aspect-ratio: 1/1;
  }
  .section-three > .container > .content > .baked-goods {
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .section-three > .container > .content > .baked-goods > .dishes {
    display: flex;
    margin-top: 3rem;
  }
  .section-three > .container > .content > .baked-goods > .dishes > .dish-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .section-three > .container > .content > .baked-goods > .dishes > .dish-left > .chocolate-chip-muffin, .section-three > .container > .content > .baked-goods > .dishes > .dish-left > .vanilla-muffin {
    background-color: #D37C4D;
    padding: 0.3rem;
    border-radius: 50%;
    flex: 1;
    position: relative;
    margin: 1rem 0rem;
  }
  .section-three > .container > .content > .baked-goods > .dishes > .dish-left > .chocolate-chip-muffin > .wrapper, .section-three > .container > .content > .baked-goods > .dishes > .dish-left > .vanilla-muffin > .wrapper {
    display: flex;
    position: relative;
    border-radius: inherit;
  }
  .section-three > .container > .content > .baked-goods > .dishes > .dish-left > .chocolate-chip-muffin > .wrapper > img, .section-three > .container > .content > .baked-goods > .dishes > .dish-left > .vanilla-muffin > .wrapper > img {
    flex: 1;
    max-width: 100%;
    border-radius: inherit;
    aspect-ratio: 1/1;
  }
  .section-three > .container > .content > .baked-goods > .dishes > .dish-right {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .section-three > .container > .content > .baked-goods > .dishes > .dish-right > .strawberry-cheesecake {
    background-color: #D37C4D;
    padding: 0.3rem;
    border-radius: 50%;
  }
  .section-three > .container > .content > .baked-goods > .dishes > .dish-right > .strawberry-cheesecake > .wrapper {
    position: relative;
    border-radius: inherit;
  }
  .section-three > .container > .content > .baked-goods > .dishes > .dish-right > .strawberry-cheesecake > .wrapper > img {
    max-width: 100%;
    border-radius: inherit;
    aspect-ratio: 1/1;
  }
  .section-three > .container > .content > .full-menu {
    box-shadow: 0 22px 23px 0px rgba(0, 0, 0, 0.25);
    border-radius: 3rem;
    align-self: center;
    margin: 10rem 0 5rem 0;
    padding: 1.5rem;
    background-color: #C38134;
    cursor: pointer;
  }
  .section-three > .container > .content > .full-menu > .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 2rem;
    border-radius: 2rem;
    background-color: #C98B42;
    color: #fff;
  }
  .section-three > .container > .content > .full-menu > .content > p {
    padding: 0.7rem 0;
  }
  .section-four {
    align-self: center;
  }
  .section-four > .socials {
    display: flex;
    justify-content: space-between;
  }
  .section-four > .socials > img {
    max-width: 20%;
  }
}
@media (min-width: 481px) and (max-width: 800px) {
  .section-one > .nav {
    position: relative;
    background-color: #662C00;
  }
  .section-one > .nav > ul {
    display: flex;
    padding-inline-start: 0;
    list-style-type: none;
  }
  .section-one > .nav > ul > * {
    padding: 2rem;
    color: white;
    text-decoration: none;
    transition: background-color 0.2s ease-in;
  }
  .section-one > .nav > ul > * > li {
    font-size: 1.2rem;
  }
  .section-one > .nav > ul > a:hover {
    background-color: #754119;
  }
  .section-one > .nav > ul > #contact-us-link {
    margin-left: auto;
  }
  .section-one > .nav > ul > a {
    display: none;
  }
  .section-one > .nav > ul > .menu {
    display: block;
    cursor: pointer;
  }
  .section-one > .nav > .logo {
    position: absolute;
    top: 0;
    left: 50%;
  }
  .section-one > .nav > .logo > img {
    position: absolute;
    transform: translateX(-50%);
    max-width: 30rem;
  }
  .section-one > .content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
  }
  .section-one > .content > .sushi {
    position: relative;
    flex-basis: 30%;
    margin: 1rem;
  }
  .section-one > .content > .sushi > #pin {
    display: none;
    position: absolute;
    bottom: 95%;
    left: 30%;
    z-index: 1;
  }
  .section-one > .content > .sushi > #sushi-img {
    max-width: 100%;
  }
  .section-one > .content > .sushi > .revealhoriz {
    position: relative;
    /* lifts up the cards */
    transform: translateX(-180px);
    opacity: 0;
    transition: all 2s ease;
  }
  .section-one > .content > .sushi .revealhoriz.show {
    transform: translateY(0px);
    opacity: 1;
  }
  .section-one > .content > .text {
    flex: 1;
    margin: 15rem 0 10rem 0;
    text-align: center;
    flex-shrink: 2;
    /* activates the javascript code */
  }
  .section-one > .content > .text > #from-kitch {
    font-family: "Lexend Exa", sans-serif;
    font-size: clamp(1.5rem, 3.5vw, 3.5rem);
    color: white;
  }
  .section-one > .content > .text > #to-yours {
    font-family: "Lemon", sans-serif;
    font-size: clamp(1.5rem, 3.5vw, 3.5rem);
    color: #662C00;
  }
  .section-one > .content > .text > .revealvert {
    position: relative;
    transform: translateY(-180px);
    opacity: 0;
    transition: all 2s ease;
  }
  .section-one > .content > .text .revealvert.show {
    transform: translateY(0px);
    opacity: 1;
  }
  .section-one > .content > .sapin {
    position: relative;
    flex-basis: 30%;
    margin: 1rem;
  }
  .section-one > .content > .sapin > #pin {
    display: none;
    position: absolute;
    bottom: 95%;
    left: 50%;
    z-index: 1;
  }
  .section-one > .content > .sapin > #sapin-sapin-img {
    max-width: 100%;
  }
  .section-one > .content > .sapin > .revealhoriz {
    position: relative;
    /* lifts up the cards */
    transform: translateX(-180px);
    opacity: 0;
    transition: all 2s ease;
  }
  .section-one > .content > .sapin .revealhoriz.show {
    transform: translateY(0px);
    opacity: 1;
  }
  .section-one > .content > .sushi img, .section-one > .content > .sapin img {
    max-width: 20rem;
  }
  .section-two {
    background-color: #FA9A68;
    padding: 0.3rem;
    position: relative;
  }
  .section-two > #polygon-up {
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
  }
  .section-two > #polygon-up > img {
    max-width: 5rem;
  }
  .section-two > .container {
    box-shadow: 0 22px 23px 0px rgba(0, 0, 0, 0.25);
    background-color: #662C00;
    padding: 0.7rem;
    position: relative;
    display: flex;
    z-index: 1;
  }
  .section-two > .container > .content {
    border: 0.3rem dashed #FA9A68;
    flex: 1;
    display: flex;
    padding: 4rem 2.5rem;
    background-color: #F3E9D2;
    justify-content: space-between;
  }
  .section-two > .container > .content > .text {
    max-width: 50%;
  }
  .section-two > .container > .content > .text > .header-one {
    font-size: 2rem;
  }
  .section-two > .container > .content > .text > .paragraph {
    margin-top: 1.5rem;
    font-size: 1.2rem;
  }
  .section-two > .container > .content > .image {
    display: flex;
    align-items: center;
  }
  .section-two > .container > .content > .image > img {
    max-width: 100%;
    aspect-ratio: 1/1;
  }
  .section-two > #polygon-down {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
  }
  .section-two > #polygon-down > img {
    max-width: 5rem;
  }
  .section-three {
    background-color: #D37C4D;
    padding: 0.3rem;
    border-radius: 4rem;
    position: relative;
    margin: 15rem 0 5rem 0;
  }
  .section-three > .oval-design {
    position: absolute;
    top: 0;
    left: 50%;
  }
  .section-three > .oval-design > .oval-one {
    width: 25rem;
    height: 12rem;
    border-radius: 50%;
    position: absolute;
    top: -5rem;
    transform: translateX(-50%);
    background-color: #C57243;
  }
  .section-three > .oval-design > .oval-two {
    width: 25rem;
    height: 12rem;
    border-radius: 50%;
    position: absolute;
    top: -4rem;
    transform: translateX(-50%);
    background-color: #662C00;
  }
  .section-three > .container {
    background-color: #662C00;
    padding: 0.7rem;
    border-radius: 4rem;
  }
  .section-three > .container > .content {
    border: 0.3rem dashed #D37C4D;
    border-radius: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #F3E9D2;
    padding: 3rem;
    font-family: "Lexend Exa", sans-serif;
  }
  .section-three > .container > .content > .the-favorites {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10rem;
    text-align: center;
  }
  .section-three > .container > .content > .the-favorites > .dishes {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
  }
  .section-three > .container > .content > .the-favorites > .dishes > .dish-left {
    display: flex;
    justify-content: center;
  }
  .section-three > .container > .content > .the-favorites > .dishes > .dish-left > .cajun-seafood {
    background-color: #662C00;
    padding: 0.3rem;
    border-radius: 4rem;
  }
  .section-three > .container > .content > .the-favorites > .dishes > .dish-left > .cajun-seafood .wrapper {
    position: relative;
    border-radius: inherit;
  }
  .section-three > .container > .content > .the-favorites > .dishes > .dish-left > .cajun-seafood .wrapper > picture {
    border-radius: inherit;
  }
  .section-three > .container > .content > .the-favorites > .dishes > .dish-left > .cajun-seafood .wrapper > picture > img {
    aspect-ratio: 16/9;
    border-radius: inherit;
    max-width: 100%;
  }
  .section-three > .container > .content > .the-favorites > .dishes > .dish-right {
    display: flex;
    justify-content: space-between;
  }
  .section-three > .container > .content > .the-favorites > .dishes > .dish-right > .lasagna, .section-three > .container > .content > .the-favorites > .dishes > .dish-right > .macaroni-salad {
    background-color: #662C00;
    padding: 0.3rem;
    border-radius: 4rem;
    margin: 1rem 0.5rem;
  }
  .section-three > .container > .content > .the-favorites > .dishes > .dish-right > .lasagna > .wrapper, .section-three > .container > .content > .the-favorites > .dishes > .dish-right > .macaroni-salad > .wrapper {
    position: relative;
    border-radius: inherit;
  }
  .section-three > .container > .content > .the-favorites > .dishes > .dish-right > .lasagna > .wrapper > img, .section-three > .container > .content > .the-favorites > .dishes > .dish-right > .macaroni-salad > .wrapper > img {
    max-width: 100%;
    border-radius: inherit;
    aspect-ratio: 1/1;
  }
  .section-three > .container > .content > .baked-goods {
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .section-three > .container > .content > .baked-goods > .dishes {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
  }
  .section-three > .container > .content > .baked-goods > .dishes > .dish-left {
    display: flex;
  }
  .section-three > .container > .content > .baked-goods > .dishes > .dish-left > .chocolate-chip-muffin, .section-three > .container > .content > .baked-goods > .dishes > .dish-left > .vanilla-muffin {
    background-color: #D37C4D;
    padding: 0.3rem;
    border-radius: 50%;
    flex: 1;
    position: relative;
    margin: 1rem 0.5rem;
  }
  .section-three > .container > .content > .baked-goods > .dishes > .dish-left > .chocolate-chip-muffin > .wrapper, .section-three > .container > .content > .baked-goods > .dishes > .dish-left > .vanilla-muffin > .wrapper {
    position: relative;
    border-radius: inherit;
  }
  .section-three > .container > .content > .baked-goods > .dishes > .dish-left > .chocolate-chip-muffin > .wrapper > img, .section-three > .container > .content > .baked-goods > .dishes > .dish-left > .vanilla-muffin > .wrapper > img {
    max-width: 100%;
    border-radius: inherit;
    aspect-ratio: 1/1;
  }
  .section-three > .container > .content > .baked-goods > .dishes > .dish-right {
    display: flex;
    justify-content: center;
  }
  .section-three > .container > .content > .baked-goods > .dishes > .dish-right > .strawberry-cheesecake {
    background-color: #D37C4D;
    padding: 0.3rem;
    border-radius: 50%;
    max-width: 30rem;
  }
  .section-three > .container > .content > .baked-goods > .dishes > .dish-right > .strawberry-cheesecake > .wrapper {
    position: relative;
    border-radius: inherit;
  }
  .section-three > .container > .content > .baked-goods > .dishes > .dish-right > .strawberry-cheesecake > .wrapper > img {
    max-width: 100%;
    border-radius: inherit;
    aspect-ratio: 1/1;
  }
  .section-three > .container > .content > .full-menu {
    display: none;
    box-shadow: 0 22px 23px 0px rgba(0, 0, 0, 0.25);
    border-radius: 4rem;
    align-self: center;
    margin: 10rem 0 5rem 0;
    padding: 1.5rem;
    background-color: #C38134;
    cursor: pointer;
  }
  .section-three > .container > .content > .full-menu > .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 2rem;
    border-radius: 2rem;
    background-color: #C98B42;
    color: #fff;
  }
  .section-three > .container > .content > .full-menu > .content > p {
    padding: 0.7rem 0;
  }
  .section-four {
    align-self: center;
  }
  .section-four > .contact-us {
    display: none;
    background-color: #D37C4D;
    padding: 0.3rem;
  }
  .section-four > .contact-us > .container {
    background-color: #662C00;
    padding: 0.7rem;
  }
  .section-four > .contact-us > .container > .content {
    border: 0.3rem dashed #D37C4D;
    display: flex;
    flex-direction: column;
    padding: 5rem 10rem;
    background-color: #F3E9D2;
    font-family: "Lexend Exa", sans-serif;
  }
  .section-four > .contact-us > .container > .content > .header-one {
    align-self: center;
  }
  .section-four > .contact-us > .container > .content > .header-two {
    margin-top: 2rem;
  }
  .section-four > .contact-us > .container > .content input, .section-four > .contact-us > .container > .content textarea {
    margin-top: 1rem;
    font-size: 1.5rem;
  }
  .section-four > .socials {
    display: flex;
    justify-content: space-between;
  }
  .section-four > .socials > img {
    max-width: 20%;
  }
}/*# sourceMappingURL=style.css.map */