@import url("https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Exa&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
}

img {
  display: block;
}

h1 {
  font-weight: 300;
  font-size: 4rem;
}

h2 {
  font-weight: 300;
  font-size: 2rem;
}

.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  border-radius: inherit;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.overlay:hover {
  opacity: 1;
}

html {
  font-family: "Kosugi Maru", sans-serif;
  scroll-behavior: smooth;
}
html > body {
  display: flex;
  flex-direction: column;
  background-image: url("img/paper-background.png");
  background-size: cover;
}
html > body > div {
  display: flex;
  flex-direction: column;
}
html > body > .section-one > .nav {
  position: relative;
  background-color: #662C00;
}
html > body > .section-one > .nav > ul {
  display: flex;
  padding-inline-start: 0;
  list-style-type: none;
}
html > body > .section-one > .nav > ul > a {
  padding: 2rem;
  color: white;
  text-decoration: none;
}
html > body > .section-one > .nav > ul > a > li {
  font-size: 1.2rem;
}
html > body > .section-one > .nav > ul > a:hover {
  background-color: #754119;
}
html > body > .section-one > .nav > ul > #contact-us-link {
  margin-left: auto;
}
html > body > .section-one > .nav > .logo {
  position: absolute;
  top: 0;
  left: 50%;
}
html > body > .section-one > .nav > .logo > img {
  position: absolute;
  transform: translateX(-50%);
}
html > body > .section-one > .nav > .logo > #background {
  max-width: 32rem;
}
html > body > .section-one > .nav > .logo > #cover {
  max-width: 10rem;
}
html > body > .section-one > .nav > .logo > #mommy {
  top: 4.5rem;
  max-width: 13rem;
}
html > body > .section-one > .nav > .logo > #lyns {
  top: 7.5rem;
  max-width: 9rem;
}
html > body > .section-one > .nav > .logo > #kitchen {
  top: 10.5rem;
  max-width: 8rem;
}
html > body > .section-one > .nav > .logo > #plate {
  top: 12.5rem;
  max-width: 8rem;
}
html > body > .section-one > .content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7rem 0;
  margin: auto 0;
}
html > body > .section-one > .content .sushi {
  position: relative;
}
html > body > .section-one > .content .sushi > #pin {
  position: absolute;
  bottom: 95%;
  left: 30%;
}
html > body > .section-one > .content .sushi > #sushi {
  max-width: 20rem;
}
html > body > .section-one > .content .text {
  margin: 0 6rem;
  margin-top: 5rem;
}
html > body > .section-one > .content .text > #text {
  max-width: 15rem;
}
html > body > .section-one > .content .sapin {
  position: relative;
}
html > body > .section-one > .content .sapin > #pin {
  position: absolute;
  bottom: 95%;
  left: 50%;
}
html > body > .section-one > .content .sapin > #sapin {
  max-width: 20rem;
}
html > body > .section-two {
  position: relative;
  background-color: #FA9A68;
  padding: 0.5rem 0;
}
html > body > .section-two > #polygon-up {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
}
html > body > .section-two > #polygon-up > img {
  max-width: 5rem;
}
html > body > .section-two > .container {
  box-shadow: 0 22px 23px 0px rgba(0, 0, 0, 0.25);
  flex: 1;
  display: flex;
  padding: 0.7rem;
  background-color: #662C00;
  z-index: 1;
}
html > body > .section-two > .container > .content {
  flex: 1;
  display: flex;
  padding: 10rem 10rem 7rem 10rem;
  border: 0.3rem dashed #FA9A68;
  background-color: #F3E9D2;
}
html > body > .section-two > .container > .content > .text {
  flex: 1;
}
html > body > .section-two > .container > .content > .text > p {
  margin-top: 1.5rem;
  max-width: 35rem;
  font-size: 2.5rem;
}
html > body > .section-two > .container > .content > .image {
  flex: 1;
  display: flex;
}
html > body > .section-two > .container > .content > .image > img {
  margin-left: auto;
}
html > body > .section-two > #polygon-down {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}
html > body > .section-two > #polygon-down > img {
  max-width: 5rem;
}
html > body > .section-three {
  position: relative;
  margin: 15rem 0;
  background-color: #D37C4D;
  padding: 0.5rem;
  border-radius: 3rem;
}
html > body > .section-three > .oval-design {
  position: absolute;
  top: 0;
  left: 50%;
}
html > body > .section-three > .oval-design > .oval-one {
  width: 45rem;
  height: 15rem;
  border-radius: 50%;
  position: absolute;
  transform: translateX(-50%);
  top: -7rem;
  background-color: #C57243;
}
html > body > .section-three > .oval-design > .oval-two {
  width: 45rem;
  height: 15rem;
  border-radius: 50%;
  position: absolute;
  transform: translateX(-50%);
  top: -6rem;
  background-color: #662C00;
  border: 0.15rem dashed #000;
}
html > body > .section-three > .container {
  background-color: #662C00;
  padding: 0.7rem;
  border-radius: 3rem;
}
html > body > .section-three > .container > .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #F3E9D2;
  padding: 3rem 3rem;
  border: 0.3rem dashed #D37C4D;
  border-radius: 2rem;
  font-family: "Legend Exa", sans-serif;
  text-align: center;
}
html > body > .section-three > .container > .content > .the-favorites {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
}
html > body > .section-three > .container > .content > .the-favorites > .dishes {
  display: flex;
  margin-top: 3rem;
  justify-content: center;
}
html > body > .section-three > .container > .content > .the-favorites > .dishes > .dish-left {
  display: flex;
}
html > body > .section-three > .container > .content > .the-favorites > .dishes > .dish-left > .cajun-seafood {
  display: flex;
  position: relative;
  max-width: 31rem;
  background-color: #662C00;
  border: 0.5rem solid #662C00;
  border-radius: 2rem;
}
html > body > .section-three > .container > .content > .the-favorites > .dishes > .dish-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
html > body > .section-three > .container > .content > .the-favorites > .dishes > .dish-right > .lasagna, html > body > .section-three > .container > .content > .the-favorites > .dishes > .dish-right > .macaroni-salad {
  position: relative;
  display: flex;
  margin: 0rem 1rem;
  max-width: 15rem;
  background-color: #662C00;
  border: 0.5rem solid #662C00;
  border-radius: 2rem;
}
html > body > .section-three > .container > .content > .the-favorites > .dishes > .dish-left img, html > body > .section-three > .container > .content > .the-favorites > .dishes > .dish-right img {
  max-width: 100%;
  border-radius: inherit;
  aspect-ratio: 1/1;
}
html > body > .section-three > .container > .content > .baked-goods {
  margin-top: 8rem;
}
html > body > .section-three > .container > .content > .baked-goods > .dishes {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}
html > body > .section-three > .container > .content > .baked-goods > .dishes > .dish-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
html > body > .section-three > .container > .content > .baked-goods > .dishes > .dish-left > .chocolate-chip-muffin, html > body > .section-three > .container > .content > .baked-goods > .dishes > .dish-left > .vanilla-muffin {
  position: relative;
  background-color: #D37C4D;
  border: 0.5rem solid #D37C4D;
  border-radius: 50%;
  max-width: 15rem;
}
html > body > .section-three > .container > .content > .baked-goods > .dishes > .dish-left > .chocolate-chip-muffin > img, html > body > .section-three > .container > .content > .baked-goods > .dishes > .dish-left > .vanilla-muffin > img {
  max-width: 100%;
  border-radius: inherit;
  aspect-ratio: 1/1;
}
html > body > .section-three > .container > .content > .baked-goods > .dishes > .dish-right {
  display: flex;
}
html > body > .section-three > .container > .content > .baked-goods > .dishes > .dish-right > .strawberry-cheesecake {
  position: relative;
  background-color: #D37C4D;
  border: 0.5rem solid #D37C4D;
  border-radius: 50%;
  max-width: 31rem;
}
html > body > .section-three > .container > .content > .baked-goods > .dishes > .dish-right > .strawberry-cheesecake > img {
  max-width: 100%;
  border-radius: inherit;
  aspect-ratio: 1/1;
}
html > body > .section-three > .container > .content > .full-menu {
  box-shadow: 0 22px 23px 0px rgba(0, 0, 0, 0.25);
  margin: 10rem 0 5rem 0;
  align-self: center;
  padding: 2rem;
  background-color: #C38134;
  border-radius: 2rem;
  cursor: pointer;
}
html > body > .section-three > .container > .content > .full-menu > .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  background-color: #C98B42;
  padding: 1rem 2rem;
  color: #fff;
}
html > body > .section-three > .container > .content > .full-menu > .content > h2 {
  margin: 2rem 0;
}
html > body > .section-four {
  padding: 3rem;
  align-self: center;
}
html > body > .section-four > .contact-us {
  background-color: #D37C4D;
  padding: 0.5rem;
}
html > body > .section-four > .contact-us > .container {
  background-color: #662C00;
  padding: 0.7rem;
}
html > body > .section-four > .contact-us > .container > .content {
  display: flex;
  flex-direction: column;
  padding: 5rem 10rem;
  background-color: #F3E9D2;
  border: 0.3rem dashed #D37C4D;
  font-family: "Legend Exa", sans-serif;
}
html > body > .section-four > .contact-us > .container > .content > h1 {
  align-self: center;
}
html > body > .section-four > .contact-us > .container > .content > h2 {
  margin-top: 3rem;
}
html > body > .section-four > .contact-us > .container > .content input, html > body > .section-four > .contact-us > .container > .content textarea {
  margin-top: 1rem;
  font-size: 1.5rem;
}
html > body > .section-four > .socials {
  margin: 10rem 0;
  display: flex;
  justify-content: space-evenly;
}/*# sourceMappingURL=style.css.map */